body {
    font-family: sans-serif;
}
nav{
  margin:20px;
}
nav a{
  padding:7px;
  border-bottom:5px solid black;
  text-decoration:none;
  color:black;
  font-size:18px;
}
h1{
  text-align:center;
}
main img{
  padding:15px;
  
}
main p{
  font-size:20px
}
.granitsa{
  border-top:4px solid black
}
