body {
    font-family: sans-serif;
}
nav{
  margin:20px;
}
nav a{
  padding:7px;
  border-bottom:5px solid black;
  text-decoration:none;
  color:black;
  font-size:18px;
}
h1{
  text-align:center;
}
main img{
  padding:15px;
  border-left:12px dotted black;
  text-align:center  
}
main p{
  font-size:20px;
  border:1px solid black;
  border-radius:7px;
  padding:15px
}
.granitsa{
  border-top:4px solid black
}
footer{
  background-color:black;
}
footer p{
  background-color:white;
  margin:15px;
  
}
